mutagen
organiseMyProjects @ git+https://github.com/Glawster/organiseMyProjects.git@0.6
playwright>=1.50.0
xai-sdk

# OMP-MANAGED-BEGIN
# Production dependencies belong to the project. OMP does not add any.
# OMP-MANAGED-END
